<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sirbox.dao.NoticeMapper">
	<resultMap id="BaseResultMap" type="cn.sirbox.model.Notice">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="member_name" property="memberName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="order_num" property="orderNum" jdbcType="INTEGER" />
		<result column="receive_terminal" property="receiveTerminal"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="cn.sirbox.model.Notice"
		extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, member_name, title, create_time, order_num, receive_terminal ,content
	</sql>

	<select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
		parameterType="cn.sirbox.model.NoticeExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from notice
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="cn.sirbox.model.Notice">
		select
		<include refid="Base_Column_List" />
		from notice 
		<where>
		<if test="title!=null and title!=''">
			title like #{title,jdbcType=VARCHAR}
		</if>
		<if test="createTime != null and createTime !=''">
		    and	create_time like #{createTime,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content !=''">
		   and content like #{content,jdbcType=LONGVARCHAR}
		</if>
		<if test="memberName != null and content !=''">
		  and member_name like #{memberName,jdbcType=VARCHAR}
		</if>
		</where>
			ORDER BY order_num DESC 
	</select>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from notice
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByPrimaryKeys" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		from notice ORDER BY order_num DESC
	</select>

	<select id="getOrderNum" resultType="cn.sirbox.model.Notice">
		SELECT MAX(order_num) AS orderNum FROM notice
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from notice
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="cn.sirbox.model.NoticeExample">
		delete from notice
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="cn.sirbox.model.Notice">
		insert into notice (id, member_name, title,
		create_time, order_num, receive_terminal,
		content)
		values (#{id,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, #{receiveTerminal,jdbcType=VARCHAR},
		#{content,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.sirbox.model.Notice">
		insert into notice
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="memberName != null">
				member_name,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="orderNum != null">
				order_num,
			</if>
			<if test="receiveTerminal != null">
				receive_terminal,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="memberName != null">
				#{memberName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="orderNum != null">
				#{orderNum,jdbcType=INTEGER},
			</if>
			<if test="receiveTerminal != null">
				#{receiveTerminal,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="getNoticeCount" resultType="java.lang.Integer">
		select count(*) from notice
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update notice
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.memberName != null">
				member_name = #{record.memberName,jdbcType=VARCHAR},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=VARCHAR},
			</if>
			<if test="record.orderNum != null">
				order_num = #{record.orderNum,jdbcType=INTEGER},
			</if>
			<if test="record.receiveTerminal != null">
				receive_terminal = #{record.receiveTerminal,jdbcType=VARCHAR},
			</if>
			<if test="record.content != null">
				content = #{record.content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleWithBLOBs" parameterType="map">
		update notice
		set id = #{record.id,jdbcType=INTEGER},
		member_name = #{record.memberName,jdbcType=VARCHAR},
		title = #{record.title,jdbcType=VARCHAR},
		create_time = #{record.createTime,jdbcType=VARCHAR},
		order_num = #{record.orderNum,jdbcType=INTEGER},
		receive_terminal = #{record.receiveTerminal,jdbcType=VARCHAR},
		content = #{record.content,jdbcType=LONGVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update notice
		set id = #{record.id,jdbcType=INTEGER},
		member_name = #{record.memberName,jdbcType=VARCHAR},
		title = #{record.title,jdbcType=VARCHAR},
		create_time = #{record.createTime,jdbcType=VARCHAR},
		order_num = #{record.orderNum,jdbcType=INTEGER},
		receive_terminal = #{record.receiveTerminal,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="cn.sirbox.model.Notice">
		update notice
		<set>
			<if test="memberName != null">
				member_name = #{memberName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="orderNum != null">
				order_num = #{orderNum,jdbcType=INTEGER},
			</if>
			<if test="receiveTerminal != null">
				receive_terminal = #{receiveTerminal,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.sirbox.model.Notice">
		update notice
		set member_name = #{memberName,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR},
		order_num = #{orderNum,jdbcType=INTEGER},
		receive_terminal = #{receiveTerminal,jdbcType=VARCHAR},
		content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.sirbox.model.Notice">
		update notice
		set member_name = #{memberName,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR},
		order_num = #{orderNum,jdbcType=INTEGER},
		receive_terminal = #{receiveTerminal,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>